/* mobile screen */

@media screen and (max-width:630px){


    
    body{
        margin: 0px;
        padding: 0px;
        font-family: system-ui;
        overflow-x: hidden;
    }
    .parallax,.parallax1{
        background-image: url('image1.jpg');
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page-title{
        background: rgba(0,0,0,0,5);
        text-align: center;
        color: white;
        padding: 200px 0px;
        font-variant: small-caps;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 5px;
    }
    #sticky{
        position: fixed;
        top: 0px;
        width: 100%;
        height: 80px;
    }
    .menu{
        background: #184d47;
        text-align: center;
    }
    .menu-ul{
        margin-right: auto;
        padding: 0px;
        display: block;
        
        
    
    }
    .menu-ul li{
        font-size: 40px;
        list-style: none;
        display: inline-block;
    
    }
    .a-menu,.a-links{
        text-decoration: none;
        color: white;
    }
    .menu-ul li:hover{
        background-color: #5b8c5a;
        transform: scale(1.1);
    }
    
    .container,.deals-container{
        margin: 50px 50px 50px 5%;
        width: 90%;
        text-align: center;
    }
    .categories, .items{
        width: max-content;
        margin: 25px;
        border: 1px solid #184d47;
        border-radius: 0 0 50px 50px ;
        display: inline-block;
    }
    .categories:hover, .items:hover{
        box-shadow: 0 0 10px #184d47;
    }
    .item-image{
        height: 200px;
        width: 200px;
        border-radius: 0 0 50px 50px;
        padding: 10px;
    }
    .image-title{
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
    a{
        text-decoration: none;
    }
    .title{
        padding: 50px;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 10px;
        color: white;
        background: rgba(0,0,0,0.5);
    }
    .deal{
        padding: 50px;
        font-size: 20px;
        font-weight: bold;
        color: blue;
        display: inline-block;
        margin: 20px;
        max-width: 20%;
        background: linear-gradient(120deg, #16817a 20%, #cee397 50%, #16817a 80%);
    }
    .coupon-btn{
        border: 1px solid white;
        color: red;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
    }
    .coupon-btn:hover{
        box-shadow: 0 0 10px 5px white inset;
    }
    .images{
        display: inline-block;
    }
    .item-image-size{
        height: 200px;
        width: 300px;
        padding: 5px;
    }
    .description{
     margin: 20px;
     min-height: 100px;   
    }
    .item-select{
        margin: 10px 0 0 0;
    }
    .buynow-btn{
        border: 1px solid #184d47;
        background: #184d47;
        padding: 5px 15px;
        border-radius: 20px;
        font-weight: bold;
        margin-top: 10px;
        color: white;
    }
    .buynow-btn:hover{
        border: 1px solid #5b8c5a;
        box-shadow: 0 0 10px 5px #5b8c5a inset;
    }
    .parallax1{
        background-image: url('image1(3).jpg');
    }
    .footer{
        background:rgba(0,0,0,0.5);
        text-align: center;
        padding: 20px;
    }
    .quick-links{
        color: white;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        min-width: 30%;
    }
    .quick-links ul{
        padding: 0px;
    }
    .quick-links li{
        list-style: none;
        padding: 10px;
        font-weight: 300;
        
    }
    .a-links:hover{
        color: #fd5e53;
    }
    .Copyrights{
        font-size: 16px;
        font-family: verdana, Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 10px;
    }
    .inline-block{
        background-color: lightblue;
        height: 200px;
    }

}/* end of mobile screen */




/* tablet screens */

@media screen and (min-width:630px){


    
body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
    overflow-x: hidden;
}
.parallax,.parallax1{
    background-image: url('image1.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title{
    background: rgba(0,0,0,0,5);
    text-align: center;
    color: white;
    padding: 150px 0px;
    font-variant: small-caps;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
}
#sticky{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
}
.menu{
    background: #184d47;
    text-align: center;
}
.menu-ul{
    margin-right: auto;
    padding: 0px;
    display: block;
    
    

}
.menu-ul li{
    font-size: 40px;
    list-style: none;
    display: inline-block;

}
.a-menu,.a-links{
    text-decoration: none;
    color: white;
}
.menu-ul li:hover{
    background-color: #5b8c5a;
    transform: scale(1.1);
}

.container,.deals-container{
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
}
.categories, .items{
    width: max-content;
    margin: 25px;
    border: 1px solid #184d47;
    border-radius: 0 0 50px 50px ;
    display: inline-block;
}
.categories:hover, .items:hover{
    box-shadow: 0 0 10px #184d47;
}
.item-image{
    height: 200px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}
.image-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.title{
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    background: rgba(0,0,0,0.5);
}
.deal{
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg, #16817a 20%, #cee397 50%, #16817a 80%);
}
.coupon-btn{
    border: 1px solid white;
    color: red;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.coupon-btn:hover{
    box-shadow: 0 0 10px 5px white inset;
}
.images{
    display: inline-block;
}
.item-image-size{
    height: 200px;
    width: 300px;
    padding: 5px;
}
.description{
 margin: 20px;
 min-height: 100px;   
}
.item-select{
    margin: 10px 0 0 0;
}
.buynow-btn{
    border: 1px solid #184d47;
    background: #184d47;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
.buynow-btn:hover{
    border: 1px solid #5b8c5a;
    box-shadow: 0 0 10px 5px #5b8c5a inset;
}
.parallax1{
    background-image: url('image1(3).jpg');
}
.footer{
    background:rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
}
.quick-links{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
}
.quick-links ul{
    padding: 0px;
}
.quick-links li{
    list-style: none;
    padding: 10px;
    font-weight: 300;
    
}
.a-links:hover{
    color: #fd5e53;
}
.Copyrights{
    font-size: 16px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}
.inline-block{
    background-color: lightblue;
    height: 200px;
}



} /* end of tablet */





/* pc screen */

@media screen and (min-width:900px){


body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
    overflow-x: hidden;
}
.parallax,.parallax1{
    background-image: url('image1.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title{
    background: rgba(0,0,0,0,5);
    text-align: center;
    color: white;
    padding: 150px 0px;
    font-variant: small-caps;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
}
#sticky{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
}
.menu{
    background: #184d47;
    text-align: center;
}
.menu-ul{
    margin-right: auto;
    padding: 0px;
    display: block;
    
    

}
.menu-ul li{
    font-size: 40px;
    list-style: none;
    display: inline-block;

}
.a-menu,.a-links{
    text-decoration: none;
    color: white;
}
.menu-ul li:hover{
    background-color: #5b8c5a;
    transform: scale(1.1);
}

.container,.deals-container{
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
}
.categories, .items{
    width: max-content;
    margin: 25px;
    border: 1px solid #184d47;
    border-radius: 0 0 50px 50px ;
    display: inline-block;
}
.categories:hover, .items:hover{
    box-shadow: 0 0 10px #184d47;
}
.item-image{
    height: 200px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}
.image-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.title{
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    background: rgba(0,0,0,0.5);
}
.deal{
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg, #16817a 20%, #cee397 50%, #16817a 80%);
}
.coupon-btn{
    border: 1px solid white;
    color: red;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.coupon-btn:hover{
    box-shadow: 0 0 10px 5px white inset;
}
.images{
    display: inline-block;
}
.item-image-size{
    height: 200px;
    width: 300px;
    padding: 5px;
}
.description{
 margin: 20px;
 min-height: 100px;   
}
.item-select{
    margin: 10px 0 0 0;
}
.buynow-btn{
    border: 1px solid #184d47;
    background: #184d47;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
.buynow-btn:hover{
    border: 1px solid #5b8c5a;
    box-shadow: 0 0 10px 5px #5b8c5a inset;
}
.parallax1{
    background-image: url('image1(3).jpg');
}
.footer{
    background:rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
}
.quick-links{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
}
.quick-links ul{
    padding: 0px;
}
.quick-links li{
    list-style: none;
    padding: 10px;
    font-weight: 300;
    
}
.a-links:hover{
    color: #fd5e53;
}
.Copyrights{
    font-size: 16px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}
.inline-block{
    background-color: lightblue;
    height: 200px;
}

}